# URL Shortening Service
URLShorteningService/backend/node_modules/

# Project
Project/.env
Project/PostsService/PostsService/.vs
Project/PostsService/PostsService/bin/
Project/PostsService/PostsService/obj/

# Miscellanious
.DS_Store
