# URL Shortening Service
URLShorteningService/backend/node_modules/

# Project
Project/.env
Project/PostsService/.vs/
Project/PostsService/PostsService/bin/
Project/PostsService/PostsService/obj/

Project/PostsService/.vs/
Project/PostsService/Tests/bin/
Project/PostsService/Tests/obj/

# Miscellanious
.DS_Store

