<head>
<title>
CS 497S Assignment 1
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div class="jumbotron">
    <h1> Dream Team </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Responsibilities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ishaan</td>
                <td>Software Engineer, Scrum Master, DevOps Engineer</td>
            </tr>
            <tr>
                <td>Thomas</td>
                <td>Product Manager, Software Engineer</td>
            </tr>
            <tr>
                <td>Omri</td>
                <td>Software Engineer, DevOps Engineer</td>
            </tr>
            <tr>
                <td>Hanlong</td>
                <td>Software Engineer</td>
            </tr>
        </tbody>
    </table>
</div>
</body>

